<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <script src="/jquery/jquery.min.js" charset="utf-8"></script>
        <script src="/bootstrap/js/bootstrap.bundle.js" charset="utf-8"></script>
    </head>
    <body>
        <%- include('./partials/nav.ejs', {name: "Budget Analysis"}) %>
        <div class="main-content">
            <div class="budget-banner banner-<%= budget.banner %>">
                <div class="budget-info-btn">
                    <a href="/budgets/<%= budget.id%>/analyze">
                        <div class="budget-icon">i</div>
                    </a>
                </div>
                <div>
                    <h3><%= budget.title %></h3>
                    <h4><%= user.firstname %> <%= user.lastname %></h4>
                </div>
            </div>
            <div style="display: none;" class="budget-analysis">
                <h3 id="percent-spent-value"><%= (budget.spent / parseInt(budget.budget_amount) * 100) %></h3>
                <h4 id="percent-spent-value-int"><%= budget.spent %></h4>
                <h4 id="percent-total-value-int"><%= parseInt(budget.budget_amount) %></h4>
            </div>
            <div style="width: 50%; margin: auto; padding: 50px 0px;" class="budget-analysis">
                <canvas id="percent-spent"></canvas>
            </div>
            <section class="item-grid">
                <div class="budget-analysis-icon active">
                    <div class="analyze-icon">
                        Icon
                    </div>
                    <div class="analyze-desc">
                        Total Percent Spent
                    </div>
                </div>
                <div class="budget-analysis-icon">
                    <div class="analyze-icon">
                        Icon
                    </div>
                    <div class="analyze-desc">
                        Description
                    </div>
                </div>
                <div class="budget-analysis-icon">
                    <div class="analyze-icon">
                        Icon
                    </div>
                    <div class="analyze-desc">
                        Description
                    </div>
                </div>
            </section>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/analyzeBudget.js" charset="utf-8"></script>
</html>
