<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title><%= title %></title>
      <link rel="stylesheet" href="/css/styles.css">
      <link rel="stylesheet" href="/css/budget.css">
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <main class="main-content">
      <div class="budget-banner banner-<%= budget.banner %>">
        <div class="budget-info-btn">
          <a href="/budgets/<%= budget.id%>/analyze">
            <div class="budget-icon">i</div>
          </a>
        </div>
        <div>
          <h3><%= budget.title %></h3>
        </div>
      </div>
      <section class="budget-menu">
        <div class="budget-info">
          <div class="budget-info-bit">
            <span>Budget Limit</span>
            <span><%= formatter(budget.budget_amount) %></span>
          </div>
          <div class="budget-info-bit">
            <span>Expenditure</span>
            <span><%= formatter(budget.spent) %></span>
          </div>
          <div class="budget-info-bit">
            <span>Balance Remaining</span>
            <span><%= formatter(budget.left) %></span>
          </div>
        </div>
        <div class="budget-buttons" style="margin-left: 1em;">
          <button id="edit">Edit</button>
          <button data-user-id="<%= budget.user_id %>" data-budget-id="<%= budget.id %>" id="delete" style="margin-left: 1em;">Delete</button>
        </div>
      </section>
      <div class="budget-desc">
        <p><%= budget.description %></p>
      </div>
      <div class="budget-itm-heading">
        <h3>Items</h3>
        <a href="/budgets/<%= budget.id %>/items/new">
          <button>Add Item</button>
        </a>
      </div>
      <hr>
      <section class="item-grid">
        <% items.forEach((item) => { %>
        <div class="grid-el">
          <div class="budget-item" data-item-id="<%= item.id %>">
            <h4><%= item.title %> <%= item.count > 1 ? `(x${item.count})` : '' %></h4>
            <h5><%= formatter(item.price * item.count) %></h5>
            <div class="<%= item.rating %>">
              <% for (var i = 0; i<5; i++) { %>
                <% if (i < item.rating) { %>
                  <span>&starf;</span>
                <% } else { %>
                  <span>&star;</span>
                <% } %>
              <% } %>
            </div>
          </div>
        </div>
        <% }) %>
      </section>
    </main>
  </body>
  <script src="/js/budget.js" charset="utf-8"></script>
</html>
