<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title><%= title %></title>
      <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1>Changing Budget Item</h1>
    <!-- Use PATCH AJAX on this form -->
    <form id="editItemForm">
      <div class="input-group">
        <label for="title">Title</label>
        <input name="title" value="<%= item.title %>">
      </div>
      <div class="input-group">
        <label for="description">Description of Item</label>
        <input name="description" value="<%= item.description %>">
      </div>
      <div class="input-group">
        <label for="price">Unit Price</label>
        <input type="number" name="price" value="<%= item.price %>" step="0.01">
      </div>
      <div class="input-group">
        <label for="count">Amount</label>
        <input type="number" name="count" value="<%= item.count %>">
      </div>
      <div class="input-group">
        <label for="purchaseDate">Date Purchased</label>
        <input type="date" name="purchase_date" value="<%= item.purchase_date %>">
      </div>
      <label for="rating">Rating</label>
      <input min="1" max="5" type="number" name="rating" value="<%= item.rating %>">
      <input type="hidden" name="id" value="<%= item.id %>">
      <input type="submit" value="Submit Changes">
    </form>
  </body>
  <script src="/js/editItem.js" charset="utf-8"></script>
</html>
