<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/budget.css">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <script src="/jquery/jquery.min.js" charset="utf-8"></script>
        <script src="/bootstrap/js/bootstrap.bundle.js" charset="utf-8"></script>
    </head>
    <body>
        <%- include('./partials/nav.ejs', {name: "Item"}) %>
        <div class="main-content item-main-content" style="display: flex;">
            <div class="item-section">
                <div class="budget-banner budget-banner-mini banner-<%= budget.banner %>">
                    <div class="budget-info-btn">
                        <a href="/budgets/<%= budget.id %>/analyze">
                            <div class="budget-icon">i</div>
                        </a>
                    </div>
                    <div>
                        <h3><%= budget.title %></h3>
                    </div>
                </div>
                <!-- <div class="budget-desc">
                    <p><%= budget.description %></p>
                </div> -->
                <div class="card">
                    <div class="main-item card-body">
                        <h4><%= item.title %></h4>
                        <p class="text-muted">Purchased On:
                            <br>
                            <%= item.purchase_date %>
                        </p>
                        <div class="<%= item.rating %>">
                            Rating:
                            <br>
                            <% for (var i = 0; i<5; i++) { %>
                              <% if (i < item.rating) { %>
                                <span>&starf;</span>
                              <% } else { %>
                                <span>&star;</span>
                              <% } %>
                            <% } %>
                        </div>
                        <div class="item-cost">
                            <div>Price: <%= item.price %></div>
                            <div>Quantity: <%= item.count %></div>
                        </div>
                        <p>Description: <%= item.description %></p>
                        <div class="item-change-btns">
                            <form action="/items/<%=item.id%>/edit" method="GET">
                                <input class="btn btn-primary item-btn" type="submit" value="Edit">
                            </form>
                            <form id="deleteItm">
                                <input name='budget_id' type="hidden" value="<%= item.budget_id %>">
                                <input name='id' type="hidden" value="<%= item.id %>">
                                <input class="btn btn-primary item-btn" type="submit" value="Delete">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="items-container">
                <% budget.items.forEach((itm) => { if(itm.id !== item.id){ %>
                <a href="/items/<%=itm.id%>" class="item-item" data-item-id="<%= itm.id %>">
                    <h4><%= itm.title %></h4>
                    <h5>$<%= itm.price %></h5>
                    <div class="<%= itm.rating %>">
                        <% for (var i = 0; i<5; i++) { %>
                          <% if (i < itm.rating) { %>
                            <span>&starf;</span>
                          <% } else { %>
                            <span>&star;</span>
                          <% } %>
                        <% } %>
                    </div>
                </a>
                <%} }) %>
            </div>

        </div>
    </body>
    <script src="/js/deleteItem.js" charset="utf-8"></script>
    <script type="text/javascript">
      const item = <%- JSON.stringify(item) %>
      document.getElementById('budget-button').addEventListener('click', () => {
        window.location = `${window.location.origin}/budgets/${item.budget_id}`;
      });
    </script>
</html>
