<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="main-content">
            <div class="user">
                <div class="user-img">
                </div>
                <div class="user-info">
                    <h1><%= user.firstname %> <%= user.lastname %></h1>
                    <div class="user-btns">
                        <form action="/users/<%= user.id %>/edit" method="GET">
                            <input type="submit" value="Edit">
                        </form>
                        <form id="userDelete">
                            <!-- Add AJAX for this form -->
                            <input type="submit" value="Delete">
                        </form>
                        <form action="/budgets/new" method="GET">
                            <input type="hidden" value="<%= user.id %>">
                            <input type="submit" value="New Budget">
                        </form>
                    </div>
                </div>
            </div>
            <div class="budgets">
                <% for (const budget of user.budgets) {%>
                    <div class="budget-cont">
                        <a href="/budgets/<%= budget.id %>">
                            <h3><%= budget.title %></h3>
                            <div class="budget-info">
                                <p><%= budget.budget_amount %></p>
                            </div>
                        </a>
                    </div>
                <% } %>
            </div>
        </div>
    </body>
</html>