<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <script src="/jquery/jquery.min.js" charset="utf-8"></script>
        <script src="/bootstrap/js/bootstrap.bundle.js" charset="utf-8"></script>
    </head>
    <body>
        <%- include('./partials/nav.ejs') %>
        <main class="main-content">
            <div class="user">
                <div class="user-img">
                </div>
                <div class="user-info">
                    <h1><%= user.firstname %> <%= user.lastname %></h1>
                    <div class="user-btns">
                        <form action="/users/<%= user.id %>/edit" method="GET">
                            <input type="submit" value="Edit">
                        </form>
                        <form id="userDelete">
                            <input type="hidden" name="id" value="<%= user.id %>>">
                            <input type="submit" value="Delete">
                        </form>
                        <form action="/budgets/new" method="GET">
                            <input type="hidden" value="<%= user.id %>">
                            <input type="submit" value="New Budget">
                        </form>
                    </div>
                </div>
            </div>
            <div class="budgets">
                <% for (const budget of user.budgets) {%>
                    <div class="budget-cont">
                        <a href="/budgets/<%= budget.id %>">
                            <h3><%= budget.title %></h3>
                            <div class="budget-info" style="display: flex; justify-content: center">
                                <p><%= formatter(budget.budget_amount) %></p>
                            </div>
                        </a>
                    </div>
                <% } %>
            </div>
        </main>
    </body>
    <script src="/js/utils.js" charset="utf-8"></script>
    <script src="/js/userDelete.js" charset="utf-8"></script>
</html>
